<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/fontawesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> -->
    <title>Property Guru</title>
    <link rel="icon" type="image/x-icon" href="https://www.iconsdb.com/icons/preview/orange/house-xxl.png" >
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-plot-listing.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js">
    </script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js">
    </script>
    <!-- CUSTOM CSS -->
    <link href= "{% static 'style.css'%}" rel="stylesheet">
    <!--
    TemplateMo 564 Plot Listing
    https://templatemo.com/tm-564-plot-listing
    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB12RPoQsTv-ZGF7DeGiaqoZ7w-OSu7RYs"></script>

  </head>
  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <!-- <a href="index.html" class="logo">
              </a> -->
              <a href="{% url 'index' %}" class="logo">
                <img src= "{% static 'img/logo.png'%}" alt="">
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li><a href="{% url 'index' %}" class=""><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                <form method="post" action="{% url 'nearbyproperties' %}" >
                  {% csrf_token %}
                  <input type="hidden" name="areaname" id="areaname" value="">
                <li><a href="#" onclick="submitForm()" ><i class="fa fa-map-marker" aria-hidden="true"></i>Nearby Properties</a></li>
                </form>
                <li><a href="#"><i class="fa fa-check"></i>About Us</a></li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-envelope" aria-hidden="true"></i>Contact Us</a></li>
                <!-- <li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i> Add Your Listing</a></div></li>  -->
              </ul>
              <a class='menu-trigger'>
                <!-- <span>Menu</span> -->
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <script>
 navigator.geolocation.getCurrentPosition(function(position) {
  var lat = position.coords.latitude;
  var lng = position.coords.longitude;

  // Use reverse geocoding to determine area name
  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(lat, lng);
  geocoder.geocode({'latLng': latlng}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[0]) {
        var areaName = "";
        for (var i = 0; i < results[0].address_components.length; i++) {
          var component = results[0].address_components[i];
          if (component.types.indexOf("sublocality") != -1 || component.types.indexOf("neighborhood") != -1) {
            areaName = component.long_name;
            break;
          }
        }

        var area = areaName;
        console.log(area);
        document.getElementById("areaname").value = area;
      }
    }
  });
});
var form = document.querySelector('form');
function submitForm() {
    form.submit();
  }
</script>
    <section>
      <div class="pic1">
      <img class="pic-1" src="{% static 'property guru.png' %}" alt="">
      </div>
      </section>

    <div class="about" style="margin-top: 20px;">
      <div class="frame-16">
        <div class="frame-2">
          <h1 class="title" style="text-align: center;">ABOUT US</h1>
          <div class="line3" style="margin-left:380px;" >
          </div>
        </div>
      <p class="property-guru-is-an">
        Property Guru is an online platform aiming to provide solutions for 
        all property matters within Karachi, Pakistan.
        The company was designed to help property buyers, renters and investors find the best properties in the city of lights.
      </p>
      </div>
    </div>

  <div class="frame-2">
  <h5 class="feature" style="text-align: center; margin-bottom: 10px;">OUR FEATURES</h5>
  </div>
  <div class="line4" style="margin-left:620px; ">
  </div>
  <br><br>

  <ul class="list" style="margin-left: 75px; ">

    <li>
      <div class="mylist">

        <figure class="card-banner">
          <img src="{% static 'img/curr.png' %}" style="box-shadow: 0 0 20px #ff8811;" alt="">
        </figure>
    </div>
    </li>

    <li>
      <div class="mylist">

        <figure class="card-banner">
          <img src="{% static 'img/future.png' %}" style="box-shadow: 0 0 20px #ff8811;" alt="">
        </figure>
    </div>
    </li>

    <li>
      <div class="mylist">

        <figure class="card-banner">
          <img src="{% static 'img/recom.png' %}" style="box-shadow: 0 0 20px #ff8811;" alt="">
        </figure>
    </div>
    </li>

    <li>
      <div class="mylist">

        <figure class="card-banner">
          <img src="{% static 'img/near.png' %}" style="box-shadow: 0 0 20px #ff8811;" alt="">
        </figure>
    </div>
    </li>
  </ul>
<br><br>


  

    
     
      <div class="app-banner">
        <div class="container">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <div class="mini-box">
                  <!-- <div class="mini-box"> -->
                  <h4>Get the <strong>Property Guru</strong>  app</h3>
                  <!-- </div> -->
                  <h4>Download our app to get quick solutions to property-related problems.</h4>
                </div>
              </div>
              <div class="col-2">
                <div class="phone-app">
                  <img src="{% static 'img/my-app.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-3 mt-2">
                <div class="scan">
                  <div class="playstore">
                    <img src="{% static 'img/play-store.png' %}" alt="">
                  </div>
                  <h4>Scan the QR Code</h4>
                  <div class="qr-img">
                    <img src="{% static 'img/qr_default.png' %}" alt="">
                  </div>
                </div>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>



      <footer>
        <div class="container">
          <div class="row justify-content-center">
            <!-- <div class="col-1"></div> -->
            <div class="col-md-3">
              <div class="footer-nav">
                <h4>PropertyGuru</h4>
                <ul>
                <li><a href="{% url 'index' %}">Homes</a></li>
                  <li><a href="{% url 'about'%}">About Us</a></li>
                  <li><a href="{% url 'contact'%}">Contact Us</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="contact-us">
                <h4>Our Address</h4>
                <ul>
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                    R-245, KN-Gohar Green City, Karachi Pakistan.
                  </li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>(+92) 314 2309877</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>propertyguru@gmail.com</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="social-icons">
                <h4>Get Connected</h4>
                <div class="icons">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-facebook"></i>
                </div>
              </div>
            </div>
            <!-- <div class="col-1"></div> -->
          </div>
        </div>
      </footer>
      <script type="text/javascript">
      $('.owl-carousel').owlCarousel({
      loop:true,
      margin:30,
      responsiveClass:true,
      responsive:{
      0:{
      items:1,
      nav:true
      },
      600:{
      items:3,
      nav:true
      },
      1000:{
      items:4,
      nav:true,
      loop:true
      }
      }
      })
      </script>
      <!-- Scripts -->
      <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
      <script src="{% static 'assets/js/animation.js' %}"></script>
      <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
      <script src="{% static 'assets/js/custom.js' %}"></script>
    </body>
  </html>