
<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/fontawesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> -->

    <title>Property Guru</title>
<link rel="icon" type="image/x-icon" href="https://www.iconsdb.com/icons/preview/orange/house-xxl.png" >
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-plot-listing.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB12RPoQsTv-ZGF7DeGiaqoZ7w-OSu7RYs"></script>

    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js">
    </script>
    <!-- CUSTOM CSS -->
  <link href="{% static 'style.css'%}" rel="stylesheet">
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <!-- <a href="index.html" class="logo">
            </a> -->

            <a href="{% url 'index' %}" class="logo">
              <img src="{% static '/img/Logo.png'%}" alt="">
            </a>


            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="{% url 'index' %}" class=""><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <form method="post" action="{% url 'nearbyproperties' %}" >
                  {% csrf_token %}
                  <input type="hidden" name="areaname" id="areaname" value="">
                <li><a href="#" onclick="submitForm()" ><i class="fa fa-map-marker" aria-hidden="true"></i>Nearby Properties</a></li>
                </form>
              <li><a href="{% url 'about' %}"><i class="fa fa-check"></i>About Us</a></li>
              <li><a href="{% url 'contact' %}"><i class="fa fa-envelope" aria-hidden="true"></i>Contact Us</a></li>
              <!-- <li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i> Add Your Listing</a></div></li>  -->
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
<style>
     @media (max-width: 996px){
    .listing-page{

    padding-left:10px;
    padding-right:10px;
    margin-top:50px !important;
    margin:0px;

    }
    .list-content{
    padding-left:14px;
    }

    .list-img {
  max-width: 100%;
  height:auto;
  overflow: hidden;
}

.list-img img {
  width: 100%; /* Make the image width fit the container width */
  height: auto; /* Allows the height to adjust based on the image aspect ratio */
  object-fit: cover; /* Image will cover the entire container, maintaining aspect ratio */
}


    }

   .des{
display: -webkit-box; /* Use the old webkit box model for better compatibility */
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical; /* Ensure text flows vertically */
  overflow: hidden;
  text-align: justify;
  padding-right: 40px;
}
</style>
  <div class="listing-page">
    <div class="container-fluid">
      <h3><b>{{ count }} Properties for {{ purpose }} available in {{ search_term }}</b></h3>
      <p>Find property > {{ purpose }} > Karachi > {{ search_term }}</p>
        {% if count != 0 %}
      <h2>Available Properties</h2>
{% for property in properties %}
      <div class="shadow-lg mx-3 bg-white rounded listing-box">

          <div class="row" >

              <div class="col-md-4">
                  <div class="list-img" style="margin-right:10px;" >
                      {% if property.image_src != 'nan'%}
                      <img src="{{ property.image_src}}" style="height:300px;padding-top:20px;margin-left:20px;">
                   {% else %}
                      <h5 style="padding-top:140px;padding-bottom:132px;padding-left:42px">No image available</h5>
                      {% endif %}
                  </div>
              </div>
              <div class="col-md-8">
                <br>
                  <div class="list-content">
                      <h4 class="pt-4 pb-2">Rs. {{ property.price }}</h4>
                      <h5 class="pb-1">{{property.location}}</h5>
                      <p class="pb-1"> {{property.address}}</p>
                      <p class="des"><strong>Description: </strong>{{property.property_description}}</p>
                      <p><i class="fa fa-bed " aria-hidden="true"></i>{{property.bedrooms}}
                          <span><i class="fas fa-bath" aria-hidden="true"></i>{{property.bathrooms}}</span>
                          <span><i class="fas fa-solid fa-expand"></i>{{property.area_sq}} Sq</p></span>
                        <br>
                      <a class="btn" href="{% url 'propertydetails' property_id=property.Property_id %}"><i class="fa fa-eye px-2" aria-hidden="true"></i>View Details</a>
                      <a class="btn" href="{% url 'viewonmap' property_id=property.Property_id %}"><i class="fa fa-map-marker px-2" aria-hidden="true"></i>View on Maps</a>
                  </div>
              </div>
          </div>
       <br>

      </div>
 {% endfor %}
        {% else %}
        <br><br><br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                        <h1>Not Found</h1>
                                    </center>
                            </div></div>

                    </div>
        {% endif %}

      <br>
  </div>
</div>

       <style>
      .desc{
      white-space: nowrap; /* prevent line breaks within the text */
  overflow: hidden; /* hide the overflow */
  text-overflow: ellipsis;
  }
    </style>

 <section class="recommended-products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Recommended Properties</h2>
              <div class="owl-carousel owl-theme">
                {% for recommend in recommendation %}
                <div class="item">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      {% if recommend.image_src != 'nan' %}
                      <img src="{{ recommend.image_src }}" class="img-fluid"  style="object-fit:cover;overflow:hidden;height:300px;">
                      {% else %}
                      <h5 style="padding-top:140px;padding-bottom:132px;padding-left:42px">No image available</h5>
                      {% endif %}
                    </div>
                    <div class="thumb-content">
                      <h4 class="desc">{{ recommend.property_description }}</h4>
                      <p class="desc"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ recommend.location }}</p>
                      <a href="{% url 'propertydetails' property_id=recommend.Property_id %}" class="btn btn-primary">Price PKR {{ recommend.price }}</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>

  <div class="app-banner">
    <div class="container">
      <div class="box">
        <div class="row">
          <div class="col-md-6">
            <div class="mini-box">
              <!-- <div class="mini-box"> -->
              <h4>Get the <strong>Property Guru</strong>  app</h3>
              <!-- </div> -->
              <h4>Download our app to get quick solutions to property-related problems.</h4>
            </div>
          </div>
          <div class="col-2">
            <div class="phone-app">
              <img src="{% static 'img/my-app.png'%}" alt="">
            </div>
          </div>
          <div class="col-lg-3 mt-2">
            <div class="scan">
              <div class="playstore">
                <img src="{% static 'img/play-store.png'%}" alt="">
              </div>
              <h4>Scan the QR Code</h4>
              <div class="qr-img">
                <img src="{% static 'img/qr_default.png'%}" alt="">
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-1"></div> -->
        <div class="col-md-3">
          <div class="footer-nav">
            <h4>PropertyGuru</h4>
            <ul>
             <li><a href="{% url 'index' %}">Homes</a></li>
                  <li><a href="{% url 'about'%}">About Us</a></li>
                  <li><a href="{% url 'contact'%}">Contact Us</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="contact-us">
            <h4>Our Address</h4>
            <ul>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                R-245, KN-Gohar Green City, Karachi Pakistan.
              </li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>(+92) 314 2309877</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>propertyguru@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="social-icons">
            <h4>Get Connected</h4>
            <div class="icons">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
        </div>
        <!-- <div class="col-1"></div> -->
      </div>
    </div>
  </footer>
  <script type="text/javascript">
  $('.owl-carousel').owlCarousel({
  loop:true,
  margin:30,
  responsiveClass:true,
  responsive:{
  0:{
  items:1,
  nav:true
  },
  600:{
  items:3,
  nav:true
  },
  1000:{
  items:4,
  nav:true,
  loop:true
  }
  }
  })
  </script>

  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="{% static 'assets/js/owl-carousel.js'%}"></script>
  <script src="{% static 'assets/js/animation.js'%}"></script>
  <script src="{% static 'assets/js/imagesloaded.js'%}"></script>
  <script src="{% static 'assets/js/custom.js'%}"></script>

</body>

</html>
