
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/fontawesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> -->

    <title>Plot Listing </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js">
    </script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js">
    </script>
    <!-- CUSTOM CSS -->
  <link href="style.css" rel="stylesheet">
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <!-- <a href="index.html" class="logo">
            </a> -->

            <a href="index.html" class="logo">
              <img src="/img/Logo.png" alt=""> 
            </a>


            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="index.html" class=""><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
              <li><a href="nearbyproperties.html"><i class="fa fa-map-marker" aria-hidden="true"></i>Nearby Properties</a></li>
              <li><a href="about.html"><i class="fa fa-check"></i>About Us</a></li>
              <li><a href="contact.html"><i class="fa fa-envelope" aria-hidden="true"></i>Contact Us</a></li> 
              <!-- <li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i> Add Your Listing</a></div></li>  -->
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
<style>
  table {
  border-collapse: separate;
  border-spacing: 0;
}
td {
  border: solid 1px #ff8811;
  border-style: none solid solid solid !important;
  padding: 10px;
}
tr:first-child td:first-child { border-top-left-radius: 12px; }
tr:first-child td:last-child { border-top-right-radius: 12px; }

tr:last-child td:first-child { border-bottom-left-radius: 12px; }
tr:last-child td:last-child { border-bottom-right-radius: 12px; }

tr:first-child td { border-top-style: solid; }
tr td:first-child { border-left-style: solid; }
  
  /* td{
    border: 3px solid  #ff8811 !important;
    border-radius: 1rem;
  } */
</style>
  <div class="listing-page">
    <div class="container-fluid">
      <div class="row">
        <h3><b>1005 properties for sale available in Gulshan-e-Iqbal</b></h3>
        <p>Find property > Purchase > Karachi > Gulshan-e-Iqbal</p>
      </div>
      <div class="row">
        <div class="col-md-5" >
          <table class="table">
            
              <tr style="border: 3px solid black !important; background-color: black; color: white; text-align: center;">
                <td style="border-color: black !important;" scope="col">Area of properties</td>
                <td style="border-color: black !important;" scope="col">No. of properties</td>
              </tr>
            
            <tbody style=" text-align: center;" >
              <tr >
                <td>Gulshan-e-Iqbal</td>
                <td>1005</td>
              </tr>
              <tr>
               
                <td><a href="available properties.html">Gulshan-e-Iqbal Block 1</a></td>
                <td><a href="available properties.html">178</a></a></td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 2</td>
                <td>23</td>
              </tr>
              <tr>
                <td>Gulshan-e-Iqbal Block 3</td>
                <td>75</td>
              </tr>
              <tr>
               
                <td><a href="available properties1.html">Gulshan-e-Iqbal Block 4</a></td>
                <td><a href="available properties1.html">35</a></td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 5</td>
                <td>24</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 6</td>
                <td>29</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 7</td>
                <td>35</td>
              </tr>
             
            </tbody>
          </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5" >
          <table class="table">
            
              <tr style="border: 3px solid black !important; background-color: black; color: white; text-align: center;">
                <td style="border-color: black !important;" scope="col">Area of properties</td>
                <td style="border-color: black !important;" scope="col">No. of properties</td>
              </tr>
            
            <tbody style=" text-align: center;" >
              <tr >
                <td>Gulshan-e-Iqbal Block 8</td>
                <td>85</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 9</td>
                <td>46</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Gulshan-e-Iqbal Block 11</td>
                <td>20</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 12</td>
                <td>50</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 13</td>
                <td>25</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 14</td>
                <td>43</td>
              </tr>
              <tr>
               
                <td>Gulshan-e-Iqbal Block 15</td>
                <td>69</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>



        <h2>Available Properties</h2>
        <div class="shadow-lg mx-3 bg-white rounded listing-box">
            <div class="row">
                <div class="col-4">
                    <div class="list-img">
                        <img src="img/home-1.jpeg" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <div class="list-content">
                        <h4 class="pt-4 pb-2">Price: PKR 8.4 Crore</h4>
                        <h5 class="pb-1">400 Sq Yard Fully Maintained for Sale</h5>
                        <p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Gulshan e Iqbal, Block 1</p>
                        <p class="des"><strong>Description: </strong>Nice location, well maintain near University Road, west open</p>
                        <p><i class="fa fa-bed " aria-hidden="true"></i>2
                            <span><i class="fas fa-bath" aria-hidden="true"></i>4</span>
                            <span><i class="fas fa-solid fa-expand"></i>400 SQ. YD.</p></span>
                        <a class="btn" href="product_details.html"><i class="fa fa-eye px-2" aria-hidden="true"></i>View Details</a>
                        <a class="btn" href="nearbyproperties.html"><i class="fa fa-map-marker px-2" aria-hidden="true"></i>View on Maps</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-lg mx-3 mt-5 bg-white rounded listing-box">
            <div class="row">
                <div class="col-4">
                    <div class="list-img">
                        <img src="img/home-12.png" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <div class="list-content">
                        <h4 class="pt-4 pb-2">Price: PKR 4.7 Crore</h4>
                        <h5 class="pb-1">Prime Location Road</h5>
                        <p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Gulshan e Iqbal Town,Block 7,Karachi</p>
                        <p class="des"><strong>Description: </strong> 2nd Floor Portion With Roof 60 Fit </p>
                        <p><i class="fa fa-bed " aria-hidden="true"></i>5
                            <span><i class="fas fa-bath" aria-hidden="true"></i>3</span>
                            <span><i class="fas fa-solid fa-expand"></i>270 Sq Yard.</p></span>
                        <a class="btn" href="product_details.html"><i class="fa fa-eye px-2" aria-hidden="true"></i>View Details</a>
                        <a class="btn" href="nearbyproperties.html"><i class="fa fa-map-marker px-2" aria-hidden="true"></i>View on Maps</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="shadow-lg mx-3 mt-5 bg-white rounded listing-box">
            <div class="row">
                <div class="col-4">
                    <div class="list-img">
                        <img src="img/home-9.jpeg" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <div class="list-content">
                        <h4 class="pt-4 pb-2">Price: PKR 1.4 Crore</h4>
                        <h5 class="pb-1">Flat For Grabs In Karachi for Sale</h5>
                        <p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Gulshan e Iqbal, Block 4,Krachi</p>
                        <p class="des"><strong>Description: </strong>3rd floor,Nice location, well maintain & near to road</p>
                        <p><i class="fa fa-bed " aria-hidden="true"></i>3
                            <span><i class="fas fa-bath" aria-hidden="true"></i>2</span>
                            <span><i class="fas fa-solid fa-expand"></i>1350 Square Feet</p></span>
                        <a class="btn" href="product_details.html"><i class="fa fa-eye px-2" aria-hidden="true"></i>View Details</a>
                        <a class="btn" href="nearbyproperties.html"><i class="fa fa-map-marker px-2" aria-hidden="true"></i>View on Maps</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-lg mx-3 mt-5 bg-white rounded listing-box">
            <div class="row">
                <div class="col-4">
                    <div class="list-img">
                        <img src="img/home-6.jpeg" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <div class="list-content">
                        <h4 class="pt-4 pb-2">Price: PKR 5.4 Crore</h4>
                        <h5 class="pb-1">A Spacious Prime Location with all facilities</h5>
                        <p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Gulshan e Iqbal, Block 12</p>
                        <p class="des"><strong>Description: </strong>Lower Portion,Nice location, west open</p>
                        <p><i class="fa fa-bed " aria-hidden="true"></i>6
                            <span><i class="fas fa-bath" aria-hidden="true"></i>4</span>
                            <span><i class="fas fa-solid fa-expand"></i>120 Square Yards</p></span>
                        <a class="btn" href="product_details.html"><i class="fa fa-eye px-2" aria-hidden="true"></i>View Details</a>
                        <a class="btn" href="nearbyproperties.html"><i class="fa fa-map-marker px-2" aria-hidden="true"></i>View on Maps</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  
  <section class="recommended-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Recommended Properties</h2>
          <div class="owl-carousel owl-theme">
            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-5.jpeg" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>AL-Rehman Square Apartments with Fully Maintained for Sale</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Gulistan e Johar Block 18, Karachi.</p>
                  <a href="#" class="btn btn-primary">Price PKR 8.4 Crore</a>
                </div>
              </div>
            </div>

            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-10.png" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Double Storey 6 beds House Near Farooq-e-azam Masjid For Sale</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Bufferzone Block 6, Karachi.</p>
                  <a href="#" class="btn btn-primary">Price PKR 8 Crore</a>
                </div>
              </div>
            </div>

            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-3.jpeg" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Prime Location 270 Sq Yard 2nd Floor Portion With Roof 60 Fit Road Available For Sale</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Gulshan-e-Iqbal - Block 1,Karachi, Sindh</p>
                  <a href="#" class="btn btn-primary">Price PKR 3.55 Crore</a>
                </div>
              </div>
            </div>

            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-11.jpeg" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Flat For Grabs In 1350 Square Feet Karachi for Sale</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Gulshan-e-Iqbal - Block 4, Karachi, Sindh</p>
                  <a href="#" class="btn btn-primary">Price PKR 1.98 Crore</a>
                </div>
              </div>
            </div>

            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-11.jpeg" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>A Spacious Prime Location 120 Square Yards Lower Portion</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Block R,Paradise, Karachi, Sindh</p>
                  <a href="#" class="btn btn-primary">Price PKR 87 Lakh</a>
                </div>
              </div>
            </div>

            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-12.png" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>400 Sq Yard Fully Maintained</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i> Block L,Saffora, Karachi, Sindh</p>
                  <a href="#" class="btn btn-primary">Price PKR 1.35 Crore</a>
                </div>
              </div>
            </div>

            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-13.jpeg" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Beautiful House Available For Sale</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Gulistan e Johar Block 11, Karachi.</p>
                  <a href="#" class="btn btn-primary">Price PKR 3.25 Crore</a>
                </div>
              </div>
            </div>

            <div class="item">                  
              <div class="thumb-wrapper">
                <div class="img-box">
                  <img src="img/home-14.jpeg" class="img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Double Story House for Sale</h4>
                  <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i>Gulistan e Johar Block 18, Karachi.</p>
                  <a href="#" class="btn btn-primary">Price PKR 8.4 Crore</a>
                </div>
              </div>
            </div>               
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="app-banner">
    <div class="container">
      <div class="box">
        <div class="row">
          <div class="col-md-6">
            <div class="mini-box">
              <!-- <div class="mini-box"> -->
              <h4>Get the <strong>Property Guru</strong>  app</h3>
              <!-- </div> -->
              <h4>Download our app to get quick solutions to property-related problems.</h4>
            </div>
          </div>
          <div class="col-2">
            <div class="phone-app">
              <img src="img/my-app.png" alt="">
            </div>
          </div>
          <div class="col-lg-3 mt-2">
            <div class="scan">
              <div class="playstore">
                <img src="img/play-store.png" alt="">
              </div>
              <h4>Scan the QR Code</h4>
              <div class="qr-img">
                <img src="img/qr_default.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-1"></div> -->
        <div class="col-md-3">
          <div class="footer-nav">
            <h4>Company</h4>
            <ul>
              <li><a href="#">Homes</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="contact-us">
            <h4>Our Address</h4>
            <ul>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                R-245, KN-Gohar Green City, Karachi Pakistan.
              </li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>(+92) 314 2309877</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>propertyguru@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="social-icons">
            <h4>Get Connected</h4>
            <div class="icons">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
        </div>
        <!-- <div class="col-1"></div> -->
      </div>
    </div>
  </footer>
  <script type="text/javascript">
  $('.owl-carousel').owlCarousel({
  loop:true,
  margin:30,
  responsiveClass:true,
  responsive:{
  0:{
  items:1,
  nav:true
  },
  600:{
  items:3,
  nav:true
  },
  1000:{
  items:4,
  nav:true,
  loop:true
  }
  }
  })
  </script>

  <!-- Scripts -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/custom.js"></script>

</body>

</html>
